<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div id="app"></div>


    <%= JSON.stringify( htmlWebpackPlugin.options ,null,4) %>
        <%= Object.prototype.toString.call( webpack) %>
            <%= Object.prototype.toString.call( this) %>


                <%for(var i in webpack.entrypoints){ %>
                    <%= i%>
                        <%= JSON.stringify( webpack.entrypoints[i])%>
                            <%} %>

</body>

</html>